
data/afrobarometer/KEN_r6.csv.xlsx
data/afrobarometer/KEN_r5.csv.xlsx
data/afrobarometer/KEN_r4.csv.xlsx
data/afrobarometer/KEN_r3.csv.xlsx
data/afrobarometer/KEN_r2.csv.xlsx
data/afrobarometer/Kenya_R7.Data_7Feb19_release.w.local.info.sav
data/afrobarometer/KEN_R8.Data_.wtd.final.wtd_release.local_info.9mar21.sav.sav
data/afrobarometer/KENYA_R9.data.final.wtd_release.local_info.08May23_Updated.13July23.sav
